body {
    min-height: 100vh;
    background-image: url(https://www.pngmagic.com/product_images/blue-aesthetic-background-idea.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat;
    backdrop-filter: blur(10px);
}
nav{
    align-items: center;
}
.btn{
    background-color: darkcyan;
    align-items: center;
    display: flex;
    margin: 50px auto;
    height: 30px;
}

#img1{
    height: 50px;
    border-radius: 50%;
    align-items: right;
    display: block;
    text-align: right;
}
.heading{
    display: flex;
    gap: 1rem;
    background-color: rgb(20, 0, 61);
    text-decoration: underline 2px;
    color: white;
    height: 4rem;
    line-height: 4rem;
    font-size: 35px;
    justify-content: center;
}
p{
    text-align: center;
}
.choices{
    display: flex;
    gap: 15rem;
    align-items: center;
    justify-content: center;
}
#rock,
#paper,
#scissors{
    border-radius: 50%;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 50%;

}
*{
    margin: 0px;
    padding: 0px;
}
.score-board{
    font-size: large;
    margin-top: 8%;
    display: flex;
    gap: 5rem;
    text-align: center;
    justify-content: center;
    border-style: double;
    border-color: rgb(20, 0, 20);
    height: 100px;
    line-height: 50px;
}
.choices:hover {
    cursor: pointer;
}
#rock:hover,
#paper:hover,
#scissors:hover {
    border-color: rgb(1, 1, 48);
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
}
#msg{
    font-size: 20px;
    background-color: rgb(9, 0, 51);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 2rem;
    padding: 0.75rem 2rem;
    min-width: 20px;
    min-height: 2px;
}
.messagebox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    margin-top: 4rem;
}